.progressBar {
    background-color: #eeeeee;
    height: 8px;
    width: 100%;
    margin-bottom: 10px;
}

.progressBarFeeling {
    background-color: #009688;
    height: 8px;
    width: 20%;
    margin-bottom: 10px;
}